.card{
    border-radius: 15px;
    color: rgb(214, 240, 240);
    height: 37rem;
    width: 75rem;
    margin-top: 7rem;
    margin-left: 5rem;
    background-color: rgba(18, 19, 19, 0.5);
}
img{
    margin-top: 1rem;
    margin-left: 1.5rem;
    height:20rem;
    border-radius: 5px;
    box-shadow: 0px 7px 14px #303436;
    cursor: pointer;
}
button {
    margin-top: 0.5rem;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 15px;
}
.c2{
    background: rgb(238,16,16);
    background: radial-gradient(circle, rgba(238,16,16,1) 17%, rgba(51,57,57,1) 100%);
}
.c1{
    background: rgb(16,47,238);
    background: radial-gradient(circle, rgba(16,47,238,1) 17%, rgba(156,166,161,1) 100%);
}
.c3{
    background: rgb(32,238,16);
    background: radial-gradient(circle, rgba(32,238,16,1) 17%, rgba(156,166,161,1) 100%);
}
.c4{
    background: rgb(238,235,16);
    background: radial-gradient(circle, rgba(238,235,16,1) 17%, rgba(156,166,161,1) 100%);
}
.c5{
    background: rgb(238,16,218);
    background: radial-gradient(circle, rgba(238,16,218,1) 17%, rgba(156,166,161,1) 100%);
}
.inactive{
    background-color: rgb(128, 121, 121);
}

h3{
    color: rgb(255, 255, 255);
    font-family:Garamond;
    font-weight: bold;
}
P{
    color: rgb(255, 255, 255);
    font-family:Book Antiqua;
}
.head{
    font-family:Baskerville Old Face;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
}

